<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h4>Cadastro de Alunos</h4>
  <div class="d-flex justify-content-end mb-2 mb-md-0">
    <a class="btn btn-success" [routerLink]="[ 'cadastro' ]"><i class="fas fa-plus"></i> Novo Aluno</a>
  </div>
</div>

<div class="d-flex justify-content-center">
  <form class="col-md-7" [formGroup]="searchForm">
    <div class="form-group">
      <label for="nomeAluno">Nome do Aluno</label>
      <input type="text" class="form-control" formControlName="nome" id="nomeAluno" placeholder="Filtrar por parte ou nome inteiro do aluno">
    </div>
    <div class="form-group">
      <label for="matricula">Matrícula</label>
      <input type="text" class="form-control" formControlName="matricula" id="matricula" placeholder="Filtrar pelo código exato da matrícula">
    </div>
    <div class="form-group">
      <label for="anoLetivo">Ano letivo</label>
      <input type="number" class="form-control" formControlName="anoLetivo" id="anoLetivo" placeholder="Filtrar pelo ano letivo">
    </div>
    <div class="d-flex justify-content-center m-4">
      <button type="reset" class="btn btn-warning mr-2"><i class="fas fa-eraser"></i> Limpar</button>
      <button type="submit" (click)="search()" class="btn btn-info"><i class="fas fa-search"></i> Pesquisar</button>
    </div>
  </form>
</div>

<!-- List -->
<app-loading [loading]="loading" [message]="'Carregando...'"></app-loading>
<div class="table-responsive" *ngIf="alunosPagResponse | async as paginationResponse">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Matrícula</th>
        <th>Ano letivo</th>
        <th>Nome</th>
        <th>Série</th>
        <th>Turma</th>
        <th>Turno</th>
        <th>Bolsita</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aluno of paginationResponse.content">
        <td>{{ aluno.matricula }}</td>
        <td>{{ aluno.anoLetivo }}</td>
        <td>{{ aluno.nome }}</td>
        <td>{{ aluno.serie }}</td>
        <td>{{ aluno.turma }}</td>
        <td>{{ aluno.turno | turno }}</td>
        <td>{{ aluno.alunoBolsista | simNao }}</td>
        <td>
          <div class="btn-group btn-group-toggle">
            <label class="btn btn-sm btn-outline-warning border-0">
              <a [routerLink]="[ 'cadastro', aluno.id ]" class="btn-outline-warning"> <i class="fas fa-folder-open"></i></a>
            </label>
            <label class="btn btn-sm btn-outline-danger border-0">
              <a data-toggle="modal" [attr.data-target]="'#removeModal'+aluno.id" class="btn-outline-danger"> <i class="fas fa-trash-alt"></i></a>
            </label>
          </div>
        </td>
        
        <app-modal-exclusion [id]="aluno.id" (eventModal)="onDelete($event)"></app-modal-exclusion>
      </tr>
    </tbody>
  </table>

  <app-pagination [paginationResponse]="paginationResponse" (eventPage)="onPage($event)"></app-pagination>
</div>