<div class="modal-header">
    <h4 class="modal-title">Adicionar Telefone</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="telefoneForm" novalidate>
      <div class="form-row">
        <div class="form-group col-sm-4">
          <label for="tipoTelefoneSelect">Tipo</label>
          <select class="form-control" formControlName="telefoneTipo" id="tipoTelefoneSelect" (change)="onChangeTipoTelefoneSelect()">
            <option value="0">Celular</option>
            <option value="1">Fixo</option>
          </select>
          <small class="form-text text-muted">Campo obrigatório</small>
        </div>
        <div class="form-group col-sm-4">
          <label for="telefone">Telefone</label>
          <ng-container *ngIf="telefoneForm.value.telefoneTipo === '0'; else elseTelefoneTipo1">
              <input type="text" class="form-control" formControlName="telefone" id="telefone" [textMask]="{mask: masks.telefoneCelular}">  
          </ng-container>
          <ng-template #elseTelefoneTipo1>
              <input type="text" class="form-control" formControlName="telefone" id="telefone" [textMask]="{mask: masks.telefoneFixo}">
          </ng-template>
          <small class="form-text text-muted">Campo obrigatório</small>
        </div>
        <div class="form-group col-sm-4">
          <label for="descricaoTelefone">Descrição</label>
          <input type="text" class="form-control" formControlName="telefoneDescricao" id="descricaoTelefone" maxlength="20">
        </div>
      </div>
    </form>
  </div>
  
  <app-message-form [formValidation]="formValidation"></app-message-form>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addTelefone()">Adicionar</button>
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close()">Fechar</button>
  </div>