<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.nome" [term]="t"></ngb-highlight>
</ng-template>

<div class="modal-header">
  <h4 class="modal-title">Pesquisar Responsável</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <input type="text text-wrap" class="form-control" [ngbTypeahead]="searchResponsavel"
    placeholder="Informe Nome, CPF ou Email" [inputFormatter]="responsavelFormatter.formatterResponsavelInput"
    maxlength="100" (selectItem)="disableFields()" [resultTemplate]="rt">
  <small class="form-text text-muted" *ngIf="searching">
    <i class="fas fa-hourglass-half"></i> Pesquisando...
  </small>
  <small class="invalid-feedback" *ngIf="searchFailed">Sugestões não puderam ser carregadas.</small>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close()">Fechar</button>
</div>