<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h4>Cadastro de Turmas</h4>
  <div class="d-flex justify-content-end mb-2 mb-md-0">
    <a class="btn-new" [routerLink]="[ 'cadastro' ]"><i class="fas fa-plus"></i> Nova Turma</a>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>

<div class="d-flex justify-content-center">
  <form class="col-lg-6" [formGroup]="searchForm">
    <div class="form-row">
      <div class="form-group col-sm-2">
        <label for="descricao">Turma</label>
        <input type="text" class="form-control" formControlName="descricao" id="descricao" maxlength="5">
      </div>
      <div class="form-group col-sm-2">
        <label for="serie">Série</label>
        <input type="text" class="form-control" formControlName="serie" id="serie" maxlength="5">
      </div>
      <div class="form-group col-sm-2">
        <label for="sala">Sala</label>
        <input type="text" class="form-control" formControlName="sala" id="sala" maxlength="5">
      </div>
      <div class="form-group col-sm-6">
        <label for="turnoSelect">Turno</label>
        <select class="form-control" formControlName="turno" id="turnoSelect">
          <option></option>
          <option value="0">Matutino</option>
          <option value="1">Vespertino</option>
          <option value="2">Noturno</option>
        </select>
      </div>
    </div>
    <small class="text-form text-muted">Filtros para pesquisa</small>
    <div class="d-flex flex-row-reverse justify-content-center m-4">
      <button type="reset" class="btn-clean ml-2"><i class="fas fa-eraser"></i> Limpar</button>
      <button type="submit" (click)="search()" class="btn-search ml-2"><i class="fas fa-search"></i> Pesquisar</button>
    </div>
  </form>
</div>

<!-- List -->
<div *ngIf="turmasPagResponse | async as paginationResponse">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Turma</th>
          <th>Série</th>
          <th>Sala</th>
          <th>Turno</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turma of paginationResponse.content">
          <td>{{ turma.descricao }}</td>
          <td>{{ turma.serie }}</td>
          <td>{{ turma.sala }}</td>
          <td>{{ turma.turno | turno }}</td>
          <td>
            <div class="btn-group btn-group-toggle">
              <label>
                <a [routerLink]="[ 'cadastro', turma.id ]" class="btn btn-sm btn-outline-edit mr-1">
                  <i class="fas fa-edit"></i>
                </a>
              </label>
              <label>
                <button data-toggle="modal" [attr.data-target]="'#removeModal'+turma.id" class="btn btn-sm btn-outline-delete">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </label>
            </div>
          </td>
          
          <app-modal-exclusion [id]="turma.id" (eventModal)="onDelete($event)"></app-modal-exclusion>
        </tr>
      </tbody>
    </table>

  </div>
  <app-pagination [paginationResponse]="paginationResponse" (eventPage)="onPage($event)"></app-pagination>
</div>