<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h4>{{ title() }} Aluno</h4>
</div>

<ngx-loading [show]="loading"></ngx-loading>

<form class="mb-5" [formGroup]="submitForm" novalidate>
  <div class="row">
    <div class="col-lg-6">
      <div class="d-flex justify-content-center">
        <div class="col-md">

          <h5>Aluno</h5>

          <div class="form-group">
            <label for="nomeAluno">Nome</label>
            <input type="text" class="form-control" [class.is-invalid]="alunoErrors.nome" formControlName="nome"
              maxlength="200" id="nomeAluno">
            <small class="invalid-feedback">{{alunoErrors.nome}}</small>
            <small class="form-text text-muted">Campo obrigatório</small>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="matricula">Matrícula</label>
              <input type="text" class="form-control" [class.is-invalid]="alunoErrors.matricula"
                formControlName="matricula" maxlength="20" id="matricula">
              <small class="invalid-feedback">{{alunoErrors.matricula}}</small>
              <small class="form-text text-muted">Campo obrigatório</small>
            </div>
            <div class="form-group col-sm-6">
              <label for="dataNascimento">Data de Nascimento</label>
              <div class="input-group">
                <input ngbDatepicker #d="ngbDatepicker" class="form-control" [minDate]="{year: 1900, month: 1, day: 1}"
                  [class.is-invalid]="alunoErrors.dataNascimento" formControlName="dataNascimento" id="dataNascimento"
                  placeholder="dd/mm/aaaa">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button" placement="bottom" ngbTooltip="Selecionar">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
                <small class="invalid-feedback">{{alunoErrors.dataNascimento}}</small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-3">
              <label for="turma">Turma</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" placement="bottom" ngbTooltip="Pesquisar" (click)="openSearchTurma()">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input type="text" class="form-control" formControlName="turma" maxlength="5" id="turma">
              </div>
            </div>
            <div class="form-group col-sm-2">
              <label for="serie">Série</label>
              <input type="text" class="form-control" formControlName="serie" maxlength="5" id="serie">
            </div>
            <div class="form-group col-sm-2">
              <label for="sala">Sala</label>
              <input type="text" class="form-control" formControlName="sala" maxlength="5" id="sala">
            </div>
            <div class="form-group col-sm-5">
              <label for="turnoSelect">Turno</label>
              <select class="form-control" formControlName="turno" id="turnoSelect">
                <option></option>
                <option value="0">Matutino</option>
                <option value="1">Vespertino</option>
                <option value="2">Noturno</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div>Bolsista?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [checked]="aluno.alunoBolsista === true"
                formControlName="alunoBolsista" id="alunoBolsistaSim" value="true">
              <label class="form-check-label" for="alunoBolsistaSim">Sim</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio"
                [checked]="aluno.alunoBolsista === false || !formValidation.editMode" formControlName="alunoBolsista"
                id="alunoBolsistaNao" value="false">
              <label class="form-check-label" for="alunoBolsistaNao">Não</label>
            </div>
          </div>
          
          <div class="form-group">
            <label for="urlFoto">Foto</label>
            <div class="input-group">
              <input type="file" class="border" formControlName="urlFoto" id="urlFoto" (change)="handleFileInput($event.target.files)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" ngbTooltip="Limpar" (click)="cleanFoto()">
                  <i class="fas fa-eraser"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="form-group mb-3">
            <img [src]="alunoImage || defaultImage" class="img-fluid img-thumbnail w-50 h-50">
          </div>
          
        </div>
      </div>
    </div>

    <!-- Responsável -->

    <div class="col-lg-6">
      <div class="d-flex justify-content-center">
        <div class="col-md">

          <h5>Responsável</h5>
          <small class="form-text text-muted">Edição do Responsável apenas no Cadastro de Responsável.</small>

          <div class="form-group">
            <label for="nomeResponsavel">Nome</label>
            <div class="input-group">
              <input type="text" class="form-control" [class.is-invalid]="alunoErrors.nomeResponsavel"
                formControlName="nomeResponsavel" maxlength="200" id="nomeResponsavel">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" placement="bottom" ngbTooltip="Limpar" (click)="cleanResponsavel()">
                  <i class="fas fa-eraser"></i>
                </button>
              </div>
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" placement="bottom" ngbTooltip="Pesquisar" (click)="openSearchResponsavel()">
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <small class="invalid-feedback">{{alunoErrors.nomeResponsavel}}</small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-4">
              <label for="cpf">CPF</label>
              <input type="text" class="form-control" [class.is-invalid]="alunoErrors.cpf" formControlName="cpf"
                id="cpf" [textMask]="{mask: masks.CPF}">
              <small class="invalid-feedback">{{alunoErrors.cpf}}</small>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email </label>
            <input type="text" class="form-control" [class.is-invalid]="alunoErrors.email" formControlName="email"
              maxlength="200" id="email">
            <small class="invalid-feedback">{{alunoErrors.email}}</small>
          </div>
          <div class="form-group">
            <label for="email2">
              <a class="btn btn-sm btn-outline-secondary" data-toggle="collapse" href="#collapseEmailAdicional"
                role="button" aria-expanded="false" aria-controls="collapseEmailAdicional" [class.disabled]="submitForm.value.disabledResponsavel">
                <i class="fas fa-plus"></i> Email adicional
              </a>
            </label>
            <div [class.collapse]="!aluno.email2" id="collapseEmailAdicional">
              <input type="text" class="form-control" [class.is-invalid]="alunoErrors.email2" formControlName="email2"
                maxlength="200" id="email2" placeholder="Informe um email adicional">
              <small class="invalid-feedback">{{alunoErrors.email2}}</small>
            </div>
          </div>
          <div class="form-group">
            <div>Email de registro?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [checked]="aluno.enviarEmail === true"
                formControlName="enviarEmail" id="enviarEmailSim" value="true">
              <label class="form-check-label" for="enviarEmailSim">Sim</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio"
                [checked]="aluno.enviarEmail === false || !formValidation.editMode" formControlName="enviarEmail"
                id="enviarEmailNao" value="false">
              <label class="form-check-label" for="enviarEmailNao">Não</label>
            </div>
            <small class="form-text text-muted">Enviar email no momento do registro do aluno</small>
          </div>
          <div class="form-group">
            <button type="button" (click)="openAddTelefone()" class="btn btn-sm btn-outline-secondary" 
              [disabled]="submitForm.value.disabledResponsavel"><i class="fas fa-plus"></i> Adicionar telefone
            </button>
          </div>
          <div class="form-group table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Tipo</th>
                  <th scope="col">Telefone</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Opções</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tel of submitForm.value.telefones">
                  <td>{{ tel.tipo | tipoTelefone }}</td>
                  <td>{{ tel.telefone }}</td>
                  <td>{{ tel.descricao }}</td>
                  <td>
                    <button class="btn-sm btn-outline-delete" (click)="removeTelefone(tel)" [disabled]="submitForm.value.disabledResponsavel"> 
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-message-form [formValidation]="formValidation"></app-message-form>

  <div class="d-flex flex-row-reverse justify-content-center m-3">
    <a [routerLink]="[ '/alunos' ]" class="btn-register ml-2"><i class="fas fa-folder-open"></i> Cadastro</a>

    <ng-container *ngIf="formValidation.editMode; then edit; else new"></ng-container>
    <ng-template #edit>
      <a *ngIf="!formValidation.alreadyNew" class="btn-new ml-2" [routerLink]="[ '/alunos/cadastro' ]"><i
          class="fas fa-plus"></i>
        Novo Aluno</a>
      <button *ngIf="formValidation.alreadyNew" (click)="newAluno()" class="btn-new ml-2"><i class="fas fa-plus"></i>
        Novo Aluno</button>
    </ng-template>
    <ng-template #new>
      <button type="reset" (click)="clean()" class="btn-clean ml-2"><i class="fas fa-eraser"></i> Limpar</button>
    </ng-template>

    <button (click)="save()" class="btn-save ml-2"><i class="fas fa-save"></i> Salvar</button>
  </div>
</form>