<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h4>{{ title() }} Aluno</h4>
</div>

<form class="mb-5" [formGroup]="submitForm" novalidate>
  <div class="row">
    <div class="col-lg-6">
      <div class="d-flex justify-content-center">
        <div class="col-md">
          <h5>Aluno</h5>
          <div class="form-group">
            <label for="nomeAluno">Nome</label>
            <input type="text" class="form-control" [class.is-invalid]="alunoErrors.nome" formControlName="nome" maxlength="100" id="nomeAluno">
            <small class="invalid-feedback">{{alunoErrors.nome}}</small>
            <small class="form-text text-muted">Campo obrigatório</small>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="matricula">Matrícula</label>
              <input type="text" class="form-control" [class.is-invalid]="alunoErrors.matricula" formControlName="matricula" maxlength="20"
                id="matricula">
              <small class="invalid-feedback">{{alunoErrors.matricula}}</small>
              <small class="form-text text-muted">Campo obrigatório</small>
            </div>
            <div class="form-group col-sm-6">
              <label for="dataNascimento">Data de Nascimento</label>
              <div class="input-group">
                <input ngbDatepicker #d="ngbDatepicker" class="form-control" [class.is-invalid]="alunoErrors.dataNascimento"
                  formControlName="dataNascimento" id="dataNascimento" placeholder="dd/mm/aaaa">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
                <small class="invalid-feedback">{{alunoErrors.dataNascimento}}</small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="pesquisaTurma">
                <a class="btn btn-sm btn-outline-secondary" data-toggle="collapse" href="#collapsePesquisaTurma" role="button"
                  aria-expanded="false" aria-controls="collapsePesquisaTurma">
                  <i class="fas fa-search"></i> Turma existente
                </a>
              </label>
              <div [class.collapse]="true" id="collapsePesquisaTurma">
                <input type="text" class="form-control" [ngbTypeahead]="searchTurma" placeholder="Pesquisar Turma, Série ou Sala"
                  [resultFormatter]="turmaFormatter.formatterTurmaResult" [inputFormatter]="turmaFormatter.formatterTurmaInput">
                <small class="form-text text-muted" *ngIf="searching">
                  <i class="fas fa-hourglass-half"></i> Pesquisando...
                </small>
                <small class="invalid-feedback" *ngIf="searchFailed">Sugestões não puderam ser carregadas.</small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-2">
              <label for="turma">Turma</label>
              <input type="text" class="form-control" formControlName="turma" maxlength="5" id="turma">
            </div>
            <div class="form-group col-sm-2">
              <label for="serie">Série</label>
              <input type="text" class="form-control" formControlName="serie" maxlength="5" id="serie">
            </div>
            <div class="form-group col-sm-2">
              <label for="sala">Sala</label>
              <input type="text" class="form-control" formControlName="sala" maxlength="5" id="sala">
            </div>
            <div class="form-group col-sm-6">
              <label for="turnoSelect">Turno</label>
              <select class="form-control" formControlName="turno" id="turnoSelect">
                <option></option>
                <option value="0">Matutino</option>
                <option value="1">Vespertino</option>
                <option value="2">Noturno</option>
              </select>
            </div>
          </div>
          <!--
          <div class="form-group">
            <label for="urlFoto">Foto</label>
            <input type="file" class="form-control-file" formControlName="urlFoto" id="urlFoto" (change)="handleFileInput($event.target.files)">
          </div>
          -->
          <div class="form-group">
            <div>Bolsista?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [checked]="aluno.alunoBolsista === true" formControlName="alunoBolsista"
                id="alunoBolsistaSim" value="true">
              <label class="form-check-label" for="alunoBolsistaSim">Sim</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [checked]="aluno.alunoBolsista === false || !formValidation.editMode"
                formControlName="alunoBolsista" id="alunoBolsistaNao" value="false">
              <label class="form-check-label" for="alunoBolsistaNao">Não</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="d-flex justify-content-center">
        <div class="col-md">
          <h5>Responsável</h5>
          <div class="form-group">
            <label for="nomeResponsavel">Nome</label>
            <input type="text" class="form-control" [class.is-invalid]="alunoErrors.nomeResponsavel" formControlName="nomeResponsavel" maxlength="100" id="nomeResponsavel">
            <small class="invalid-feedback">{{alunoErrors.nomeResponsavel}}</small>
          </div>
          <div class="form-group">
            <label for="email">Email </label>
            <input type="text" class="form-control" [class.is-invalid]="alunoErrors.email" formControlName="email" maxlength="200" id="email">
            <small class="invalid-feedback">{{alunoErrors.email}}</small>
          </div>
          <div class="form-group">
            <label for="email2">
              <a class="btn btn-sm btn-outline-secondary" data-toggle="collapse" href="#collapseEmailAdicional" role="button"
                aria-expanded="false" aria-controls="collapseEmailAdicional">
                <i class="fas fa-plus"></i> Email adicional
              </a>
            </label>
            <div [class.collapse]="!aluno.email2" id="collapseEmailAdicional">
              <input type="text" class="form-control" [class.is-invalid]="alunoErrors.email2" formControlName="email2" maxlength="200"
                id="email2" placeholder="Informe um email adicional">
              <small class="invalid-feedback">{{alunoErrors.email2}}</small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-4">
              <label for="cpf">CPF</label>
              <input type="text" class="form-control" [class.is-invalid]="alunoErrors.cpf" formControlName="cpf" id="cpf"
                [textMask]="{mask: masks.CPF}">
              <small class="invalid-feedback">{{alunoErrors.cpf}}</small>
            </div>
            <div class="form-group col-sm-4">
              <label for="telefoneFixo">Telefone Fixo</label>
              <input type="text" class="form-control" formControlName="telefoneFixo" id="telefoneFixo" [textMask]="{mask: masks.telefoneFixo}">
            </div>
            <div class="form-group col-sm-4">
              <label for="telefoneCelular">Telefone Celular</label>
              <input type="text" class="form-control" formControlName="telefoneCelular" id="telefoneCelular" [textMask]="{mask: masks.telefoneCelular}">
            </div>
          </div>
          <div class="form-group">
            <div>Email de registro?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [checked]="aluno.enviarEmail === true" formControlName="enviarEmail"
                id="enviarEmailSim" value="true">
              <label class="form-check-label" for="enviarEmailSim">Sim</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [checked]="aluno.enviarEmail === false || !formValidation.editMode"
                formControlName="enviarEmail" id="enviarEmailNao" value="false">
              <label class="form-check-label" for="enviarEmailNao">Não</label>
            </div>
            <small class="form-text text-muted">Enviar email no momento do registro do aluno</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-message-form [formValidation]="formValidation"></app-message-form>

  <div class="d-flex justify-content-center m-3">
    <a [routerLink]="[ '/alunos' ]" class="btn btn-secondary mr-2"><i class="fas fa-folder-open"></i> Cadastro</a>

    <ng-container *ngIf="formValidation.editMode; then edit; else new"></ng-container>
    <ng-template #edit>
      <a *ngIf="!formValidation.alreadyNew" class="btn btn-success mr-2" [routerLink]="[ '/alunos/cadastro' ]"><i class="fas fa-plus"></i>
        Novo Aluno</a>
      <button *ngIf="formValidation.alreadyNew" (click)="newAluno()" class="btn btn-success mr-2"><i class="fas fa-plus"></i>
        Novo Aluno</button>
    </ng-template>
    <ng-template #new>
      <button type="reset" (click)="clean()" class="btn btn-warning mr-2"><i class="fas fa-eraser"></i> Limpar</button>
    </ng-template>

    <button (click)="save()" class="btn btn-primary"><i class="fas fa-save"></i> Salvar</button>
  </div>
</form>